<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ChatExcel AI表格自动处理工具</title>

<head>
  <link rel="stylesheet" href="/static/css/handsontable.full.min.css">

  <link rel="stylesheet" href="/static/css/excel.css">
  <title></title>
</head>
<style>
  div {
    display: flex; /* 将 div 标签设置为弹性布局 */
    justify-content: center; /* 在主轴方向（横向）上居中 */
    align-items: center; /* 在交叉轴方向（纵向）上居中 */
    margin-top: 10px;
  }

  img {
    display: block; /* 将图片设置为块级元素 */
    margin: 0 auto; /* 在主轴方向上居中 */
  }

  p {
    text-align: center; /* 文字居中 */
  }
</style>
<body>

<div id="message-box">
  <div id="message-text"></div>
</div>

<header>
  <div class="logo">草帽Boy的Logo</div>
  <nav>
    <ul>
      <li><a  href="/chatExcel" >返回</a></li>
      <li><a  href="/chatExcel/tutorial" >使用教程</a></li>
    </ul>
  </nav>

</header>
<div>
  <img src="/static/img/about.png" style="width: 500px;height: 800px" alt="微信二维码">
</div>
</body>